/* Menu dashboard */
.menu--dashboard {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu--dashboard li {
    margin-top: 3px;
    padding: 0px 5px 0 0;
}

.menu--dashboard li a {
    text-decoration: none;
}